:root {
    --fontsHeading: 'PT Sans', sans-serif;
    --fontsParagraph: 'Open Sans', sans-serif;

    --cafeClaro: #EAC183;
    --cafeAmarilloso: #FF9900;
    --cafeAmarillosoOscuro: #DA8C19;
    --cafeAmarillosoIntenso: #9D682A;
    --cafeOscuro: #4B3821;

    --negro: #000000;
    --blanco: #FFFFFF;
}

html {
    /* se reinicia el tamaño de la letra a 62.5% */
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
    /* hack para box model */
}

/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
    box-sizing: inherit;
    /* hack para box model */
}

body {
    /* 1rem = 10px */
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--fontsHeading);
}

/* Globales y Tipografia*/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fontsHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

p {
    font-family: var(--fontsParagraph);
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text__bold {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--negro);
}


/* Header*/
.home {
    background-image: url(../img/fondoHeader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /*imagen fluye hacia el centro*/
    background-position: center center;
    position: relative;
}

.header, .footer{
    background-color: var(--cafeOscuro);
}

.header.home {
    min-height: 60rem;
}

.header.home .header__hero {
    position: absolute;
    /*anteror*/
    background-color: rgba(0, 0, 0, 10);
    /*nuevo*/
    background-color: rgba(77, 73, 73, 0.6);
    width: 100%;
    height: 100%;
}

.header__text {
    padding-top: 3rem;
}

.header__text h2 {
    color: var(--cafeAmarillosoOscuro);
}

.header__text p {
    color: var(--cafeClaro);
}

/*navegacion*/
.header__logo {
    width: 8rem;
    padding-top: 1rem;
}

@media(min-width: 768px) {
    .header__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width: 768px) {
    .header__navigation {
        display: flex;
        column-gap: 2rem;
    }
}

.header__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--cafeAmarilloso);
    font-weight: bold;
    text-transform: uppercase;
}

.header__link:hover {
    color: var(--blanco);
}

/* Objetivos */
.objectives {
    align-items: center;
}

@media (min-width: 768px) {
    .objectives {
        display: flex;
        height: 30rem;
        gap: 1rem;
    }
}

.objectives__img {
    width: 50%;
    margin: auto;
}
@media (min-width: 768px) {
    .objectives__img {
        margin-left: 27%;
        position: relative;
        background-size: cover;
    }
}

.objectives__img img {
    height: auto;
    width: auto/9;
    background-size: cover;
    /* Bug de ie8 */
}

.objectives__item-list {
    width: 65%;
    margin: auto;
    align-items: center;
}
@media (min-width: 768px) {
    .objectives__item-list {
        width: 100%;
        align-items: center;
    }
}

.objectives__item-list li {
    list-style-type: '✓';
    padding: 0 1rem;
}

/* Informacion */
.information {
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.information__text {
    text-align: justify;
}

.information__video {
    height: 31.5rem;
}

.video {
    width: 100%;
    height: 100%;
}

/** contacto **/
.contact-us p {
    margin: 0 0 3rem 0;
}
@media (min-width: 768px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.contact__all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__all .contact__icons {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cafeAmarillosoIntenso);
    border-radius: 50%;
}

/* mapa */
.map iframe {
    padding-top: 3rem;
    width: 100%;
}