:root {
    --fontsHeading: 'PT Sans', sans-serif;
    --fontsParagraph: 'Open Sans', sans-serif;

    --cafe: #4a2a1e;
    --negro: #000000;
    --blanco: #FFFFFF;
    --verde: #94AF7B66;
}

html {
    /* se reinicia el tamaño de la letra a 62.5% */
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
    /* hack para box model */
}

/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
    box-sizing: inherit;
    /* hack para box model */
}

body {
    /* 1rem = 10px */
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--fontsHeading);
}

/* Globales y Tipografia*/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fontsHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text__bold {
    text-transform: uppercase;
    color: var(--cafe);
    font-weight: 700;
}

/* Header and footer */
.start {
    background-image: url(../img/fondoHeader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /*imagen fluye hacia el centro*/
    background-position: center center;
    position: relative;
}

.header {
    background-color: var(--negro);
}

.header.start {
    min-height: 60rem;
}

.header.start .header__hero {
    position: absolute;
    /*anteror*/
    background-color: rgba(0, 0, 0, 0.5);
    /*nuevo*/
    background-color: rgba(148, 175, 123, 0.6);
    width: 100%;
    height: 100%;
}

.header__text {
    color: var(--cafe);
    padding-top: 2rem;
}

/*navegacion*/
@media(min-width: 768px) {
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width: 768px) {
    .navigation {
        display: flex;
        column-gap: 2rem;
    }
}

.navigation-link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--cafe);
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-link:hover {
    color: var(--blanco);
}

/* seccion objetivos */
.item__list li {
    list-style-type: '✓';
    padding: 0 1rem;
}

.overflow{
    overflow: hidden;
}

@media (min-width: 768px) {
    .item__list {
        max-width: 100%;
    }

    .objectives {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 1rem;
        gap: 1rem;
        max-height: 40rem;
    }

    .img__objetives {
        display: grid;
        grid-template-rows: 20rem 20rem;
        margin: 0 auto;
    }

    .img__size {
        max-height: 100%;
        max-width: 100%;
    }

    img{
        max-height: 100%;
        max-width: 100%;
    }
}

/* video */
.video {
    width: 560px;
    margin: 1em auto;
    object-fit: contain;
}

/* contactanos */
@media (min-width: 768px) {
    .contact-us {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}